<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
	<div class="hidden">
   <div class="loginbox">
   	<img src="logo.jpeg" class="logo animated flip">
   	<h1 class="animated rollIn"> Login Here</h1>
   	<form id="formid" method="post" action="/">
   		<p class="animated rotateInUpLeft">email-id</p>
   		<input class="uid animated zoomIn" type="text" name="username" placeholder="Enter username">
   		<p class="animated rotateInUpLeft">Password</p>
   		<input class="pass animated zoomIn" type="Password" name="pass" placeholder="Enter Password">
   		<input class="login btn-danger animated lightSpeedIn" type="submit" name="" value="Login">
   		<a href="#" target="_blank">Don't have an account</a>
   		<br>
   		<a href="#" target="_blank">Forgot Password</a>
   	</form>
   </div>
</div>
</body>
</html>
